<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mt-4 form-container mb-4">
      <h1 class="text-center mb-4">Login Alpha Blog</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>