<div class="container">
  <%= render 'shared/errors', obj: @user %>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mt-4 form-container mb-4">
      <h1 class="text-center mb-4">Edit user profile</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>

<!-- <div class="col-4 mt-4 form-container"> -->
